<p>Hi <%= @user.name %> </p>

<p>Rhys here.</p>

<p>Tech Talent Scout suggested I send you a quick “hello” message.

I don’t normally use these recruitment apps but I’ve heard good things about this one.

Anyway, I’d love to grab a coffee and discuss potential opportunities some time soon.

What is your schedule like this week?</p>

<p>Kind Regards,</p>

<p> Rhys Diab</p>
