
<nav>
  <div class="twelve columns nav">
    <h5>Nav Bar</h5>
  </div>
</nav>

<div class="twelve-columns main-area">
  <h5>Find Top Tech Talent Today</h5>
  <button class="find-tech-talent-button">Get Started</button>
</div>

<div class="description-area twelve columns">
  <h5>How It Works</h5>

  <div class="three columns">
    <p>filler</p>
  </div>
  <div class="three columns">
    <p>filler</p>
  </div>
  <div class="three columns">
    <p>filler</p>
  </div>
  <div class="three columns">
    <p>filler</p>
  </div>
</div>

<div class="testimonial-area twelve columns">
  <div class="six columns">
    <h5>"Testimonial"</h5>
    <p>CEO of whatever</p>
  </div>

  <div class="six columns">
    <h5>"Testimonial"</h5>
    <p>CEO of whatever</p>
  </div>

</div>

<div class="top-businesses-area twelve columns">
  <h5>Top Businesses Accepted On Tech Talent Finder</h5>
  <div class="three columns">

  </div>

  <div class="three columns">

  </div>

  <div class="three columns">

  </div>

  <div class="three columns">

  </div>
</div>

<div class="main-area-2 twelve columns">
  <h5>Find Top Developers For Your Team Today</h5>
</div>

<footer>
  <div class="footer-text">
    <p>@2017 Tech Talent Finder Inc.</p>
  </div>
</footer>

<!-- End of first page -->

<!-- Start of finding your tech talent -->
<div class="searching-for-results twelve columns none">
  <h5>Picture Of Flashlight</h5>
</div>

<!-- End of searching for talent -->

<!-- Start of description of me page -->

<div class="search-result-page none">
  <h5>Searching for talent</h5>
</div>

<!-- End of Description of me page -->
