<nav>
    <div class="twelve columns nav">
        <ul>
            <li>
                <a href="default.asp">Home</a>
            </li>
            <li>
                <a href="news.asp">Get Started</a>
            </li>
        </ul>
    </div>
</nav>

<div class="twelve columns main-area">
    <div class="inside-green">

        <h5>Find Top Tech Talent Today</h5>
        <button class="find-tech-talent-button">Get Started</button>
    </div>
</div>

<div class="description-area twelve columns">
    <h5 class="how-it-works">How It Works</h5>

    <div class="one-third column">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="one-third column">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="one-third column">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>

<div class="testimonial-area twelve columns">
    <div class="six columns">
        <h5>"Our Tech Scout Developers Are Ahead Of The Curve"</h5>
        <p>CEO of Successful Enterprise
        </p>
    </div>

    <div class="six columns">
        <h5>"Testimonial"</h5>
        <p>CEO of whatever</p>
    </div>

</div>

<div class="top-businesses-area twelve columns">
    <h5>Top Businesses Accepted On Tech Talent Finder</h5>
    <div class="three columns"></div>

    <div class="three columns"></div>

    <div class="three columns"></div>

    <div class="three columns"></div>
</div>

<div class="main-area-2 twelve columns">
    <h5>Find Top Developers For Your Team Today</h5>
    <button class="find-tech-talent-button">Get Started</button>
</div>

<div class="footer-text">
    <p>@2017 Tech Talent Finder Inc.</p>
</div>

<!-- End of first page -->

<!-- Start of finding your tech talent -->
<div class="searching-for-results twelve columns none">
    <h5>Picture Of Flashlight</h5>
</div>

<!-- End of searching for talent -->

<!-- Start of description of me page -->

<div class="search-result-page none">
    <h5>Searching for talent</h5>
</div>

<!-- End of Description of me page -->

<div class="result-page none">
    <h5>Your result is</h5>
</div>
