
<nav>
  <div class="twelve-columns nav">
    <h5>Nav Bar</h5>
  </div>
</nav>

<div class="twelve-columns main-area">
  <h5>Find Top Tech Talent Today</h5>
  <button class="find-tech-talent-button">Get Started</button>
</div>

<div class="description-area twelve-columns">
  <h5>How It Works</h5>

  <div class="three-columns">
    <p>filler</p>
  </div>
  <div class="three-columns">
    <p>filler</p>
  </div>
  <div class="three-columns">
    <p>filler</p>
  </div>
  <div class="three-columns">
    <p>filler</p>
  </div>
</div>
