



/*nav bar attempt*/

html {

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f9f9f9;
    border: 1px solid black;

}


h5 {
  text-align: center;
}

p {
  padding: 1rem;
}

.result-page {
}

.my_image {
  display: block;
  margin: auto;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: #111;
}

.none {
  display: none;
}

.nav {
  text-align: center
}

.main-area {
  position: relative;
  margin-top: auto;
  background-color: #5bbc2e;
  color: white;
  text-align: center;
  /*background: url("/assets/background-image.jpg");
  background-size: 1017px 632px;
  background-repeat: no-repeat;*/
  height: 70vh;
  margin-bottom: 2rem;

}

.inside-green {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.description-area {
  margin-top: 20px;
}

.find-tech-talent-button {
  color: white;
  background-color: #5bbc2e;
  border-color: white;

}

.find-tech-talent-button:hover {
  color: #5bbc2e;
  background-color: white;
}

h5.main-area {
  color: white;
}

.how-it-works {
  text-align: center;
}

.testimonial-area {
  background-color: #f9f9f9;

}

.top-businesses-area {
  text-align: center;
}

.main-area-2 {
  text-align: center;
  background-color: #5bbc2e;
  color: white;
}

.lowest-text {
  text-align: center;
  background-color: #f9f9f9;
  margin-top: 12.5rem;
}

.columns {
  margin-left: 0;
  padding: 10px;
  text-align: center;
}

.your-ideal-candidate {

}

.thank-you {

}

.grey-background {
background-color: #f9f9f9;
}
