.none {
  display: none;
}

.nav {
  text-align: center
}

.main-area {
  margin: auto;
  text-align: center;
  background-image: url('https://static1.squarespace.com/static/51c71bd4e4b01f34284e6112/t/56359bc0e4b0ef5e7b3fc3cc/1446353856077/o-BUSINESS-TECHNOLOGY-facebook.jpg');
}

.find-tech-talent-button {
  color: white;
  background-color: blue;
  border-color: red;

}

h5.main-area {
  color: white;
}
