<!DOCTYPE html>
<html>
<head>
  <title>TechRecruitment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="
https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
